/* Personal Website*/
/* Author: Abi Matthews-Gordon */

/* --------------------------------- */
/*          1. General */
/* --------------------------------- */
:root {
    --primary-color: #e6810f;
    --secondary-color: #3a6665;
    --secondary-dark: #223B3B;
    --border-color: #6FC4C2;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

body {}

body.full-page {
    width: 100%;
    height: 100%;
    /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 59%, rgba(233, 232, 234, 1) 100%); */
}

body.full-page>.container-fluid,
body.full-page>.container-fluid>.row {
    height: 100%;
}


/********** navbar *************/
.main-nav {}

.main-nav ul li.nav-item a.nav-link {
    padding: 12px 40px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    position: relative;
}

.main-nav ul li.nav-item a.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: var(--secondary-dark);
    transition: width 0.3s ease;
}

.main-nav ul li.nav-item a.nav-link:hover::before {
    width: 100%;
}

.main-nav ul li.nav-item a.nav-link:hover {
    color: var(--secondary-dark);
}

.moon {
    color: var(--secondary-dark);
}

.moon>i {
    font-size: 20px;
}

.container>.name {
    color: var(--secondary-dark);
    font-weight: bold;
    font-size: 20px;
}


p {
    line-height: 1.6;
}

/********** footer *************/
.footer {
    border-top: 1px solid #000;
}

/* --------------------------------- */
/*              Typography */
/* --------------------------------- */

a {
    text-decoration: none;
    color: #000;
}

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.3;
}

h1.thin,
h2.thin,
h3.thin,
h4.thin,
h5.thin,
h6.thin {
    font-family: 'Roboto condensed';
    font-weight: 400;
    line-height: 1.3;
}

/* links */
/* .home-page .professional-links, */
.about-page .professional-links,
/* .portfolio-page .project-links, */
.blog-page .professional-links {
    background-color: var(--secondary-color);
}

i.white {
    color: #fff;
}

i.green {
    color: #3A666580;
    font-size: 25px;
}

.professional-links {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 23px;
    margin-right: 40px;
}

/* --------------------------------- */
/*           1. HOME PAGE */
/* --------------------------------- */
.home-page .description .intro {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.home-page .description .intro>span {
    font-size: 30px;
    color: var(--secondary-color);
    display: block;
    margin-bottom: 5px;
}

.home-page .description .title {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 65px;
    line-height: 1;
    text-transform: uppercase;
}

.home-page .description p {
    font-size: 20px;
    margin-bottom: 70px;
}

.home-page .description .speaker {
    height: 80px;
    color: #CDC9C9;
}

.home-page .description .links .prof {
    margin-right: 75px;
}

.links {
    margin-bottom: 60px;

    /* display: flex;

    &>{
        flex-grow: 0;
    } */
    .page-link {
        display: inline-block;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1;
        font-family: 'Roboto condensed';
        color: var(--secondary-color);
        background-color: #3A666532;
        border-radius: 4px;
        padding: 10px 25px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
        position: relative;

        &.about {
            margin-right: 10px;
        }

        &.blog {
            margin-right: 50px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 4px;
            background-color: var(--secondary-color);
            transition: width 0.3s ease;
        }

        &:hover::before {
            width: 100%;
        }

        &:hover {
            color: var(--secondary-color);
        }
    }

    &>a:nth-child(3) {
        display: inline-block;
        margin-right: 40px;
    }
}

/* ***********profile section*********** */
.home-page .portfolio-section {
    position: relative;
    height: 650px;
}

.home-page .portfolio-section .portfolio-item {
    position: absolute;
}

.home-page .portfolio-section .portfolio-item.focused {
    height: 415px;
    width: 415px;
    left: 40px;
}

.home-page .portfolio-section .portfolio-item .image-container {
    border-radius: 50%;
    max-height: 415px;
    max-width: 415px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 6px #0004;
    overflow: hidden;
}

.home-page .portfolio-section .portfolio-item .image-container img {
    max-width: 150%;
}

.home-page .portfolio-section .portfolio-item .title {
    visibility: hidden;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--secondary-color);
    background-color: #3A666532;
    padding: 8px 16px;
    border-radius: 4px;
    line-height: 1.2;
    display: inline-block;
}


.home-page .portfolio-section .portfolio-item.focused .image-container,
.home-page .portfolio-section .portfolio-item:hover .image-container {
    box-sizing: border-box;
    height: 415px;
    width: 415px;
    border: 5px solid var(--border-color);
}

.home-page .portfolio-section .portfolio-item.focused .title {
    visibility: visible;
}

.home-page .portfolio-section .portfolio-item .image-container::after {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 10px solid transparent;
    border-top-color: var(--border-color);
    visibility: hidden;
}

.home-page .portfolio-section .portfolio-item.focused .image-container::after {
    position: absolute;
    top: 370px;
    left: 65px;
    transform: rotate(38deg);
    visibility: visible;
}

/* second */
.home-page .portfolio-section .portfolio-item.second {
    box-sizing: border-box;
    left: 460px;
    top: 460px;
}

.home-page .portfolio-section .portfolio-item.second .image-container {
    box-sizing: border-box;
    height: 225px;
    width: 225px;
}

/* third */
.home-page .portfolio-section .portfolio-item.third {
    box-sizing: border-box;
    left: 500px;
    top: 100px;
}

.home-page .portfolio-section .portfolio-item.third .image-container {
    box-sizing: border-box;
    height: 165px;
    width: 165px;
}

/* fourth */
.home-page .portfolio-section .portfolio-item.fourth {
    box-sizing: border-box;
    left: 243px;
    top: 490px;
}

.home-page .portfolio-section .portfolio-item.fourth .image-container {
    box-sizing: border-box;
    height: 135px;
    width: 135px;
}

/* fifth */
.home-page .portfolio-section .portfolio-item.fifth {
    box-sizing: border-box;
    left: 463px;
    top: 312px;
}

.home-page .portfolio-section .portfolio-item.fifth .image-container {
    box-sizing: border-box;
    height: 105px;
    width: 105px;
}

.home-page .portfolio-section .portfolio-item.focused .image-container,
.home-page .portfolio-section .portfolio-item:hover .image-container {
    box-sizing: border-box;
    height: 415px;
    width: 415px;
    border: 5px solid var(--border-color);
    transition: width 1s, height 1s;
}

/* ***********profile when clicked section*********** */


.portfolio-page {

    .prev,
    .next {
        color: #3A666532;
        width: 60px;
        position: absolute;
        top: 380px;
    }

    .prev {
        left: 60px;
    }

    .next {
        right: 60px;
    }

    .main-project {
        margin-bottom: 49px;

        .portfolio-description {
            padding-right: 60px;

            .breadcrumb-container {
                padding-bottom: 3px;
                border-bottom: 1px solid var(--secondary-color);
                display: flex;
                margin-bottom: 20px;

                >div {
                    flex-grow: 1;

                    a {
                        font-size: 18px;
                        color: var(--primary-color);
                    }

                    span {
                        font-size: 24px;
                        color: var(--secondary-color);
                        text-transform: uppercase;
                    }
                }

                .speaker {
                    flex-grow: 0;
                }
            }

            h3 {
                font-size: 40px;
                color: var(--primary-color);
                margin-bottom: 10px;
            }

            .subtitle {
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 10px;
            }

            .summary {
                margin-bottom: 40px;
            }

            .project-link-container {
                margin-bottom: 50px;
                display: flex;

                .project-links {
                    background-color: #e6810f80;
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 45px;
                    font-size: 23px;
                    margin-right: 20px;
                    /* flex-grow: 1; */
                }

                .read-more {
                    text-transform: uppercase;
                    color: var(--primary-color);
                    flex-grow: 0;
                    margin-left: auto;
                }
            }

            .tools {
                border-bottom: 4px solid #3A666532;
                text-transform: uppercase;
                font-size: 20px;

            }
        }

        .current-image {
            overflow: hidden;
            max-height: 650px;

            img {
                max-width: 150%;
            }

        }
    }
}


















/* thumbnail */
.portfolio-page .thumbnail-section {
    background-color: #3A666564;
}

.portfolio-page .portfolio-thumbnails-container {
    display: flex;
}

.portfolio-page .portfolio-thumbnail {
    width: 14%;
    text-align: center;
    padding: 15px 0;
}

.portfolio-page .portfolio-thumbnail .image-container {
    display: inline-block;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: auto;
}

.portfolio-page .portfolio-thumbnail .image-container img {
    max-width: 135%;
}

.portfolio-page .portfolio-thumbnail .image-container:hover {
    cursor: pointer;
    border: 5px solid #0004;
    box-sizing: border-box;
}

.portfolio-page .portfolio-thumbnail.current-display {
    background-color: #3A66654e;
}

.portfolio-page .main-project .portfolio-description .stack-item {
    display: flex;
    list-style: none;
    margin-bottom: 80px;
}

.portfolio-page .main-project .portfolio-description .stack-item li {
    margin-right: 30px;
}

.portfolio-page .main-project .portfolio-description .stack-item .img-decrease {
    width: 30px;
}

.portfolio-page .main-project .portfolio-description .stack-item img {
    width: 35px;
    margin-right: 8px;
    filter: grayscale(90%);
}

/* --------------------------------- */
/*           2. ABOUT PAGE */
/* --------------------------------- */
.about-page .about-section .about .about-description h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

.about-page .about-section .about .about-description .links .linkedin {
    margin-left: 40px;
}

.about-page .about-section .about .about-description .links .page-link {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    color: #000;
}

.about-img-container {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 570px;
    overflow: hidden;
    max-height: 650px;
    margin-left: 100px;
}

.about-img-container .img-about>img {
    max-width: 100%;
    width: 620px;
    margin-top: -90px;
}

.about-page .about-section .about {
    margin-bottom: 120px;
}

.about-page .about-section .about .about-description h1 {
    color: var(--primary-color);
}

.about-page .about-section .about .about-description h5 {
    margin-bottom: 40px;
}

.about-page .about-section .about .about-description p {
    line-height: 1.78;
}

.about-page .about-section .about .about-description .about-para {
    margin-bottom: 20px;
    padding-bottom: 70px;
    border-bottom: 1px solid #ccc;
}

/* skills section */
.about-page .about-section .skill-sec {
    margin-bottom: 120px;
}

.about-page .about-section .skill-sec>h3 {
    color: var(--primary-color);
    font-size: 37px;
    margin-bottom: 10px;
}

.about-page .about-section .skill-sec h5 {
    margin-bottom: 40px;
}

.about-page .about-section .skill-sec .skills .skill-heading {
    display: inline-block;
    margin-bottom: 40px;
    line-height: 35px;
    color: var(--secondary-color);
}

.about-page .about-section .skill-sec .skills .skill-img {
    width: 35px;
    margin-right: 8px;
    display: inline;
    vertical-align: middle;
}

.about-page .about-section .skill-sec .skills .skill-lists {
    list-style: none;
    padding: 0;
    line-height: 3;
}

.about-page .about-section .skill-sec .skills .skill-lists .img-increase {
    width: 40px;
}

.about-page .about-section .skill-sec .skills .skill-lists .img-increase-xl {
    width: 60px;
}

.about-page .about-section .skill-sec .skills .skill-lists .img-decrease {
    width: 30px;
}

.about-page .about-section .skill-sec .skills .skill-lists li {
    margin-bottom: 25px;
}

.about-page .about-section .skill-sec .skills .skill-lists img {
    width: 35px;
    margin-right: 8px;
}

/* experience & education section */
.about-page .about-section .education-cert-sec {
    margin-bottom: 120px;
}

.about-page .about-section .experience-education>h3 {
    color: var(--primary-color);
    font-size: 37px;
    margin-bottom: 31px;
}

.about-page .about-section .experience-education-icon-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
}

.about-page .about-section .experience-education-icon-container>i {
    font-size: 16px;
    line-height: 40px;
}

.about-page .about-section .vertical-bar {
    background-color: #ccc;
    margin: auto;
}

.about-page .about-section .timeline-legend {
    max-width: 70px;
}

.about-page .about-section .vertical-bar-first {
    height: 150px;
    width: 1px;
}

.about-page .about-section .vertical-bar-second,
.about-page .about-section .vertical-bar-third {
    height: 60px;
    width: 1px;
}

.about-page .about-section .tag {
    height: 45px;
    width: 130px;
    border-radius: 50px;
}

.about-page .about-section .date {
    font-weight: 800;
    color: #aaa;
    font-size: 22px !important;
    margin-bottom: 0;
}

.about-page .about-section .tag>p {
    text-align: center;
    line-height: 45px;
}

.about-page .about-section .bold-upper {
    text-transform: uppercase;
    font-weight: 800;
    color: #6FC4C2;
}

.about-page .about-section .experience-education .description>.text {
    line-height: 1.78;
}


.contact-container {

    h2 {
        color: var(--primary-color);
        font-size: 37px;
        margin-bottom: 31px;
    }

    .text {
        margin-top: 0;

        p {
            line-height: 1.78;
        }
    }
}


.about-page .footer .links p {
    margin-left: 10px;
}

/* --------------------------------- */
/*           3. BLOG PAGE */
/* --------------------------------- */
.blog-page .container {
    max-width: 1650px;
}

.navbar {
    margin-bottom: 120px;
}

.blog-page .main-nav .menus {
    margin-right: 80px;
}

.blog-page .main-nav .menus .name {
    margin-right: 100px;
    color: var(--primary-color);
}

.blog-page .main-nav ul li.nav-item a.nav-link {
    padding: 12px 35px;
}

.blog-page .main-nav .search-bar {
    margin-right: 150px;
}

.blog-page .main-nav .search-bar .search-input {
    border-radius: 20px;
    background-color: #eee;
    padding-left: 30px;
}

.blog-page .main-nav .search-bar input[type="text"]:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 4px 1px var(--primary-color);
}

.blog-page .main-nav .socials .professional-links {
    height: 35px;
    width: 35px;
    line-height: 33px;
    margin-right: 25px;
}

.blog-page .main-nav .socials a i {
    font-size: 20px;
}

.blog-page .blog-section .blog-card-image-container {
    height: 230px;
    background-color: #737373;
    margin-bottom: 25px;
}

.blog-page .blog-section .content h3 {
    margin-bottom: 27px;
}

.blog-page .blog-section .content h3 a {
    color: var(--primary-color);
    font-size: 26px;
}

.blog-page .blog-section .content .author-date p {
    font-size: 13px;
    margin-bottom: 17px;
}

.blog-page .blog-section .blog-container {
    height: 635px;
    background-color: #F4F4F4;
    padding: 27px;
}

.blog-page .blog-section .blog-container .content .summary {
    margin-bottom: 26px;
    line-height: 1.78;
    max-height: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blog-page .blog-section .blog-container .content .blog-link {
    background-color: #fff;
    padding: 15px 50px;
    border-radius: 4px;
    text-align: center;
    color: var(--primary-color);
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}

.blog-page .blog-section .blog-container .content .blog-link:hover {
    color: #000;
    background-color: var(--primary-color);
}

/* blog menu */
.blog-page .blog-section .blog-menu {
    height: 230px;
    background-color: #d7d2d2;
    margin-bottom: 20px;
}

.blog-page .blog-section .blog-container-section {
    >.row {
        gap: 20px;
    }
}

.blog-page .blog-section .blog-menu-container a {
    display: block;
    line-height: 1.78;
}

/* pagination */
.blog-page .blog-section .pagination-container .pagination li a .icon {
    font-size: 15px;
    color: var(--primary-color);
}

.blog-page .blog-section .pagination-container .pagination li a .icon:hover {
    color: #fff;
}

.blog-page .blog-section .pagination-container .pagination li a {
    color: #000;
}

.blog-page .blog-section .pagination-container .pagination li a:hover {
    background-color: var(--primary-color);
}