/* Personal Website*/
/* Author: Abi Matthews-Gordon */

/* --------------------------------- */
/*          1. General */
/* --------------------------------- */
:root {
    --nav-dark-mode-color: #202124;
    --body-dark-mode-color: #292A2D;
    --bronze-color: #DD7F24;
    --dark-bronze-color: #BC5331;
    --home-page-menu-hover-color: #DD7F247b;
    --text-color: #292A2D;
   
}

html {
    width: 100%;
    height: 100%;
}

body {
    /* background-color: var(--off-white-color); */
}

body.full-page {
    width: 100%;
    height: 100%;
}

body.full-page>.container-fluid,
body.full-page>.container-fluid>.row {
    height: 100%;
}

/* body.full-page>.container-fluid>.row>aside {
    height: 100%;
    width: 350px;
    background-color: var(--blue-color);
    overflow-y: auto;
} */

/********** navbar *************/
.main-nav {
    /* background-color: var(--grey-color); */
}

.main-nav ul li.nav-item a.nav-link  {
    padding: 12px 40px;
    /* display: block; */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    position: relative;
}

.main-nav ul li.nav-item a.nav-link::before  {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: var(--bronze-color);
    transition: width 0.3s ease;
}

.main-nav ul li.nav-item a.nav-link:hover::before  {
    width: 100%;
}

.main-nav ul li.nav-item a.nav-link:hover{
    color: var(--bronze-color);
}

.moon{
    color: var(--bronze-color);
}

.moon>i{
    font-size: 20px;
}

/* 
.main-nav ul li a:hover {
    background-color: var(--bronze-color);
    color: var(--bronze-color);
} */

.container>.name {
    color: var(--bronze-color);
    font-weight: bold;
    font-size: 25px;
}

/* .logo-round-container{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid #c3bdbd;
}

.logo-round-container>img{
    max-width: 150%;
    max-height: 150%;
    position: absolute;
    top: -28%;
}

.logo-photo{
    max-width: 40px;
    max-height: 45px;
    height: 100%;
    width: 100%;
} */

/********** footer *************/
.footer {
    background-color: #7a8f4c;
    color: #fff;
}

.footer .nav-link {
    color: #fff;
}

.footer .copyright {
    border-top: 1px solid;
}

/* professional links */
/* .about-page .footer-professional-links,
.blog-page .footer-professional-links,
.blog-description-page .footer-professional-links,
.portfolio-page .footer-professional-links,
.contact-page .footer-professional-links {
    background-color: var(--bronze-color);
} */

.footer h3 a {
    color: #fff;
}

/********** page title *************/
.portfolio-page .header .title,
.blog-page .header .title,
.contact-page .header .title {
    margin-bottom: 50px;
    line-height: 1;
    font-size: 52px;
}

.contact-page .header .title {
    text-align: center;
}
.contact-intro p {
    text-align: center;
}

.contact-intro p {
    text-transform: none;
    font-size: 18px;
}

.blog-intro p,
.contact-intro p {
    text-transform: none;
    font-size: 18px;
    margin-bottom: 48px;
}

.contact-intro p {
    text-align: center;
}

.portfolio-intro h2, 
.blog-intro h2{
    margin-bottom: 15px;
}

.blog-page .container .load,
.portfolio-page .container .load {
    color: var(--off-red-color);
}

/* --------------------------------- */
/*              Typography */
/* --------------------------------- */

a {
    text-decoration: none;
}

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Abril Fatface', serif;
    line-height: 1.3;
}

/* h1.off-red,
h2.off-red,
h3.off-red,
h4.off-red,
h5.off-red,
h6.off-red {
    color: var(--off-red-color);
} */

p {
    font-family: 'PT Sans', sans-serif;
}

/* --------------------------------- */
/*           1. HOME PAGE */
/* --------------------------------- */

/* image container */
.main-photo {
    max-width: 580px;
    max-height: 580px;
    height: 100%;
    width: 100%;
    /* background-color: var(--grey-color); */
}

/* image */
.img-round-container {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid #c3bdbd;
}

.img-round-container>img {
    max-width: 150%;
    max-height: 150%;
    position: absolute;
    top: -28%;
}

.home-page .content{
    margin-top: 180px;
}

/* description */
.home-page .description  {
    margin-top: 45px;
}

.home-page .description .intro {
    font-size: 58px;
    line-height: 1;
    margin-bottom: 14px;
    color: var(--text-color);
}

.home-page .description .intro>span {
    font-size: 32px;
    color: var(--text-color);
    display: block;
    margin-bottom: 10px;
}

.home-page .description .title {
    font-size: 43px;
    color: var(--bronze-color);
    margin-bottom: 35px;
    line-height: 1;
}

.home-page .description p {
    font-size: 21px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--bronze-color);
}

.professional-links {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 23px;
    margin-right: 22px;
}

/* links */
.home-page .professional-links {
    background-color: var(--bronze-color);
}

.home-page a>i {
    font-size: 23px;
}

i.white{
    color: #fff;
}

/* .home-page .prof-link-icon,
.contact-page .contact-link-icon {
    color: #fff;
} */

.home-page .about-link,
.contact-page .send-link {
    line-height: 50px;
    display: inline-block;
    background-color: var(--bronze-color);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 38px;
    padding-left: 12px;
    padding-right: 20px;
}

.home-page-menu{
    margin-top: 55px;
}

.home-page-menu ul {
    list-style-type: none;
    text-align: right;
}

.home-page-menu > ul .list-item-1{
    left: 45px;
}

.home-page-menu > ul .list-item-2{
    left: -4px;
}
.home-page-menu > ul .list-item-3{
    left: -35px;
}
.home-page-menu > ul .list-item-4{
    left: -10px;
}
.home-page-menu > ul .list-item-5{
    left: 27px;
}

.home-page-menu>ul>li {
    background-color: var(--bronze-color);
    border-radius: 60px;
    margin-bottom: 50px;
    margin-left: auto;
    width: 50px;
    max-width: 50px;
    height: 50px;
    position: relative;
    transition: max-width 0.3s;
}

.home-page-menu>ul>li:hover {
    width: auto;
    max-width: 180px;
}

.home-page-menu ul .menu-items {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-size: 28px;
}

.home-page-menu ul .menu-items>span {
    position: absolute;
    right: 65px;
    color: #fff;
    visibility: hidden;
}

.home-page-menu ul .menu-items:hover>span,
.home-page-menu ul li:hover .menu-items>span {
    visibility: visible;
}

/* --------------------------------- */
/*          3. ABOUT PAGE */
/* --------------------------------- */
.about-page .navbar {
    margin-bottom: 110px;
}

/* description section */
.img-skill {
    height: 500px;
    background-color: var(--grey-color);
    overflow: hidden;
    position: relative;
}

.skill-contact-link>a {
    padding: 15px 45px;
    font-weight: bold;
    border-radius: 6px;
    background-color: var(--green-color);
    color: #fff;
    text-transform: uppercase;
}

.about-section .about {
    margin-bottom: 120px;
}

.about-description>h1 {
    margin-bottom: 25px;
}

.about-description h5 {
    margin-bottom: 5px;
}

.about-description .about-para {
    margin-bottom: 50px;
}

/* skills section */
.skill-sec {
    margin-bottom: 120px;
}

.skill-sec>h3 {
    font-size: 37px;
    margin-bottom: 10px;
}

.skill-sec p {
    margin-bottom: 50px;
}

.skill-sec .skills .skill-heading{
    display: inline-block;
    margin-bottom: 30px;
    line-height: 35px;
}

.skill-sec .skills .skill-img{
    width: 35px;
    margin-right: 8px;
    display: inline;
    vertical-align: middle;
}

.skill-sec .skills .skill-lists{
    list-style: none;
    padding: 0;
    line-height: 3;
}

.skill-sec .skills .skill-lists img{
    width: 30px; 
    margin-right: 8px;   
}

/* experience & education section */
.experience-education>h3 {
    font-size: 37px;
    margin-bottom: 31px;
}

.red-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--off-red-color);
    text-align: center;
}

.icon-color {
    color: var(--off-white-color);
    font-size: 35px;
    line-height: 60px;
}

.vertical-bar {
    background-color: var(--vertical-grey-color);
    margin: auto;
}

.vertical-bar-left {
    height: 145px;
    width: 2px;
}

.vertical-bar-top-right {
    height: 195px;
    width: 2px;
}

.vertical-bar-bottom-right {
    height: 195px;
    width: 2px;
}

.grey-tag {
    height: 45px;
    width: 130px;
    background-color: var(--grey-color);
    border-radius: 50px;
}

.grey-tag>p {
    font-weight: 600;
    text-align: center;
    line-height: 45px;
}

.bold-upper {
    text-transform: uppercase;
    font-weight: 600;
}

/* certificate section */
.cerificate>h3 {
    font-size: 37px;
    margin-bottom: 31px;
}

.distributor {
    background-color: var(--certificate-distributor-green-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.distributor .distributor-name {
    font-size: 20px;
}

.cert-description>p {
    font-size: 18px;
}

.cert-description {
    background-color: var(--certificate-description-light-green-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.cert-description>.title {
    font-weight: 600;
    font-size: 19px;
    text-align: left;
}

/* --------------------------------- */
/*         4. BLOG PAGE */
/* --------------------------------- */

/* cards */
.card-container {
    border: 1px solid var(--grey-color);
    padding: 25px;
}

.blog-card-image-container {
    height: 290px;
    background-color: var(--grey-color);
    margin-bottom: 30px;
}

.card-container>h3 {
    font-size: 25px;
    margin-bottom: 18px;
}

.date-mins>i {
    color: var(--off-red-color);
    margin-bottom: 18px;
}

.description-date-mins>i {
    color: var(--grey-prof-color);
    margin-bottom: 30px;
}

.date-mins p {
    color: var(--off-red-color);
    font-weight: bold;
}

.description-date-mins p {
    margin-bottom: 130px;
}

.description-date-mins p {
    color: var(--grey-prof-color);
}

.date-mins p,
.description-date-mins p {
    display: inline-block;
    margin-left: 3px;
    margin-right: 50px;
    font-size: 12px;
}

.card-container .summary {
    margin-bottom: 30px;
}

.card-container .blog-button {
    background-color: var(--green-color);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.card-container a {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
}

/* ********description page******** */

.blog-description-page h1 {
    font-size: 50px;
    color: var(--off-red-color);
    text-align: center;
    margin-bottom: 15px;
}

.blog-description-page .written-by {
    margin-bottom: 28px;
    text-align: center;
    text-transform: uppercase;
}

.blog-image-container {
    height: 576px;
    background-color: var(--certificate-distributor-green-color);
    border-radius: 16px;
}

.illustration {
    color: var(--grey-prof-color);
    margin-bottom: 120px;
}

.container .article {
    line-height: 29px;
}

.second-article {
    margin-bottom: 150px;
}

.second-article>h2 {
    color: var(--off-red-color);
    font-size: 38px;
}

/* --------------------------------- */
/*         5. PORTFOLIO PAGE */
/* --------------------------------- */
.header .portfolio-intro{
    margin-bottom: 50px;
}

.portfolio-intro p{
    font-size: 18px;
}

.portfolio-item {
    height: 490px;
    border: 1px solid #4d4c4c;
    position: relative;
    overflow: hidden;
    padding: 0;
}

/* image */
.portfolio-display-image {
    position: absolute;
    width: 958px;
    top: -17px;
    left: -63px;
    transform: rotate(-2deg);
    z-index: -5;
}

/* button container */
.button-holder {
    height: 60px;
    background-color: #000;
    margin: 0;
}

.button-holder>p {
    display: inline-block;
    color: #fff;
    margin-right: 34px;
    text-transform: uppercase;
}

/* buttons */
.button-holder .button-menu-item {
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--off-red-color);
    display: inline-block;
    color: #fff;
    font-size: 28px;
    display: inline-block;
    margin-right: 23px;
}

/* description */
.portfolio-item .portfolio-description {
    height: 60px;
    width: 100%;
    background-color: var(--portfolio-opacity-green-color);
    position: absolute;
    bottom: 0;
}

.portfolio-item:hover .portfolio-description {
    height: 220px;
}

.portfolio-description>h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: var(--portfolio-project-title-green-color);
    margin-left: 30px;
    margin-top: 14px;
    margin-bottom: 15px;
    font-family: PT Sans;
}

.portfolio-description p {
    color: #fff;
    margin-left: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

.left {
    margin-left: 30px;
}

.stack-item {
    padding: 6px 20px;
    margin-right: 20px;
    display: inline-block;
    border-radius: 6px;
    background-color: var(--opacity-green-color);
    color: #fff;
    text-transform: uppercase;
}

/* --------------------------------- */
/*         6. CONTACT PAGE */
/* --------------------------------- */

.contact-page .send-link span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}