/* Personal Website*/
/* Author: Abi Matthews-Gordon */

/* --------------------------------- */
/*          1. General */
/* --------------------------------- */

@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../../node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import url('fonts.css');

:root {
    --primary-color: #e6810f;
    --secondary-color: #3a6665;
    --secondary-dark: #223B3B;
    --border-color: #6FC4C2;
    --links-bgc: #ced9d8;
    --professional-links-bgc: #9cb2b2;
    --project-links-bgc: #f2c087;
    --pages-bgc: #fbecdb;
    --volume: #d8e0e0;
    --volume-end: #f7d9b7;
    --breadcrumb-current-page: #b0c2c1;
    --breadcrumb-previous-page: #f0b36f;
    --blog-orange-bgc: #fcf2e7;
    --blog-grey-bgc: #f7f7f7;
    --timeline-color: #f5cd9f;
    --contact-bgc: #e9eeee;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

body {}

body.full-page {
    width: 100%;
    height: 100%;
}

body.full-page>.container-fluid,
body.full-page>.container-fluid>.row {
    height: 100%;
}

.condensed {
    font-family: "Roboto condensed";
}

/********** footer *************/
.footer {
    border-top: 1px solid #000;
}

/********** breadcrumb **********/
.breadcrumb-container {
    padding-bottom: 3px;
    border-bottom: 1px solid #3a66651e;
    display: flex;
    margin: 0px;
    max-width: 380px;

    >div {
        flex-grow: 1;
        /* max-width: 310px; */

        &:last-child {
            flex-grow: 0;
        }
    }
}

.breadcrumb {
    a {
        font-size: 18px;
        color: var(--breadcrumb-previous-page);
    }

    span {
        font-size: 24px;
        color: var(--breadcrumb-current-page);
        text-transform: uppercase;
    }
}

/********** speaker **********/
.speaker {
    /* color: var(--volume-end); */
    font-size: 30px;
    display: flex;
    color: #f7d9b7;
    align-items: end;

    i {
        line-height: 24px;
        flex-grow: 0;

        &::before {
            line-height: 24px;
        }
    }

    .volume-container {
        float: right;
        display: flex;
        align-items: flex-end;
        gap: 4px;

        .volume {
            border: 1px solid var(--links-bgc);
            background-color: var(--links-bgc);
            height: 100%;
            width: 4px;

            &.volume-1 {
                height: 20px;
                margin-bottom: 3px;
            }

            &.volume-2 {
                height: 26px;
                margin-bottom: 3px;
            }

            &.volume-3 {
                height: 13px;
                margin-bottom: 3px;
            }

            &.volume-4 {
                height: 16px;
                margin-bottom: 3px;
            }

            &.volume-5 {
                height: 21px;
                margin-bottom: 3px;
            }

            &.volume-6 {
                height: 13px;
                margin-bottom: 3px;
            }
        }
    }
}

i.white {
    color: #fff;
}

i.green {
    color: var(--professional-links-bgc);
    font-size: 25px;
}

.professional-links {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 23px;
    margin-right: 40px;
}

.links {
    margin-bottom: 60px;
    display: flex;
    gap: 16px;

    >* {
        flex-grow: 0;

        &.icn-lnk {
            width: 60px;
            text-align: right;
        }
    }

    .prof {
        /* margin-right: 75px; */
    }

    .page-link {
        display: inline-block;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1;
        font-family: 'Roboto condensed';
        color: var(--secondary-color);
        background-color: var(--links-bgc);
        border-radius: 4px;
        padding: 10px 25px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
        position: relative;

        &.about {
            /* margin-right: 10px; */
        }

        &.blog {
            /* margin-right: 50px; */
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 4px;
            background-color: var(--secondary-color);
            transition: width 0.3s ease;
        }

        &:hover::before {
            width: 100%;
        }

        &:hover {
            color: var(--secondary-color);
        }
    }

    /* &>a:nth-child(3) {
        display: inline-block;
        margin-right: 40px;
    } */
}

.navbar {
    margin-bottom: 95px;

    .menus {
        margin-right: 80px;
        display: flex;

        >div {
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #eee;
                margin-right: 5px;
            }

            .name {
                margin-right: 100px;
                color: var(--primary-color);
            }
        }

        .search-bar {
            flex-grow: 1;
            max-width: 430px;

            >input {
                width: 100%;
                border-radius: 20px;
                background-color: #3A666532;
                padding-left: 30px;
            }
        }

    }
}

/* --------------------------------- */
/*              Typography */
/* --------------------------------- */
a {
    text-decoration: none;
    color: #000;
}

p {
    line-height: 1.6;
}

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.3;
}

h1.thin,
h2.thin,
h3.thin,
h4.thin,
h5.thin,
h6.thin {
    font-family: 'Roboto condensed';
    font-weight: 400;
    line-height: 1.3;
}

.container {
    max-width: 1650px;
}

/* --------------------------------- */
/*           1. HOME PAGE */
/* --------------------------------- */
.home-page {

    .breadcrumb-container {
        max-width: 505px;
        margin-bottom: 30px;

        .breadcrumb {
            a {
                font-size: 16px;
            }

            span {
                font-size: 18px;
            }
        }
    }

    .description {
        >* {
            max-width: 520px;
        }

        .speaker {
            margin-bottom: 40px;
            /* display: block; */
        }

        .intro {
            font-size: 44px;
            line-height: 1;
            margin-bottom: 20px;
            color: var(--secondary-color);

            >span {
                font-size: 27px;
                color: var(--secondary-color);
                display: block;
                margin-bottom: 5px;
            }
        }

        .title {
            font-size: 36px;
            color: var(--primary-color);
            margin-bottom: 32px;
            line-height: 1;
            text-transform: uppercase;
        }

        .details {
            font-size: 20px;
            margin-bottom: 100px;
        }
    }

    .portfolio-section {
        position: relative;
        height: 650px;

        .portfolio-item {
            position: absolute;

            .image-container {
                position: relative;
                border-radius: 50%;
                max-height: 415px;
                max-width: 415px;
                width: 100px;
                height: 100px;
                box-shadow: 0px 0px 6px #0004;
                overflow: hidden;

                img {
                    max-width: 150%;
                }
            }

            .title {
                position: relative;
                visibility: hidden;
                text-transform: uppercase;
                font-size: 16px;
                color: var(--secondary-color);
                background-color: var(--links-bgc);
                padding: 8px 16px;
                border-radius: 4px;
                line-height: 1.2;
                display: inline-block;
                max-width: 120px;

                &::after {
                    content: '';
                    position: absolute;
                    left: 100px;
                    top: -23px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    border: 10px solid transparent;
                    border-top-color: var(--border-color);
                    rotate: 24deg;
                    opacity: .5;
                }
            }

            &.focused,
            &:hover {
                height: 415px;
                width: 415px;
                left: 40px;

                .image-container {
                    position: relative;
                    box-sizing: border-box;
                    height: 415px !important;
                    width: 415px !important;
                    transition: width 1s, height 1s;

                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: 8px solid var(--border-color);
                        opacity: .5;
                        z-index: 1000;
                        pointer-events: none;
                    }
                }

                .title {
                    visibility: visible;
                }

                &::after {
                    position: absolute;
                    top: 370px;
                    left: 65px;
                    transform: rotate(38deg);
                    visibility: visible;
                }
            }

            /* second */
            &.second {
                box-sizing: border-box;
                left: 460px;
                top: 460px;

                .image-container {
                    box-sizing: border-box;
                    height: 225px;
                    width: 225px;
                }
            }

            /* third */
            &.third {
                box-sizing: border-box;
                left: 500px;
                top: 100px;

                .image-container {
                    box-sizing: border-box;
                    height: 165px;
                    width: 165px;
                }
            }

            /* fourth */
            &.fourth {
                box-sizing: border-box;
                left: 243px;
                top: 490px;

                .image-container {
                    box-sizing: border-box;
                    height: 135px;
                    width: 135px;
                }
            }

            /* fifth */
            &.fifth {
                box-sizing: border-box;
                left: 463px;
                top: 312px;

                .image-container {
                    box-sizing: border-box;
                    height: 105px;
                    width: 105px;
                }
            }
        }
    }
}

/* --------------------------------- */
/*           2. PORTFOLIO PAGE */
/* --------------------------------- */
.portfolio-page {

    .prev,
    .next {
        color: var(--links-bgc);
        font-size: 60px;
        position: absolute;
        top: 300px;
    }

    .prev {
        left: 70px;
    }

    .next {
        right: 70px;
    }

    .main-project {
        margin-bottom: 49px;

        .portfolio-description {
            padding-right: 60px;

            h3 {
                font-size: 40px;
                color: var(--primary-color);
                margin-bottom: 10px;
            }

            .subtitle {
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 10px;
            }

            .summary {
                margin-bottom: 40px;
            }

            .project-link-container {
                margin-bottom: 50px;
                display: flex;

                .project-links {
                    background-color: var(--project-links-bgc);
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 45px;
                    font-size: 23px;
                    margin-right: 20px;
                }

                .read-more {
                    text-transform: uppercase;
                    color: var(--primary-color);
                    flex-grow: 0;
                    margin-left: auto;
                }
            }

            .tools {
                border-bottom: 1px solid #3A66651e;
                text-transform: uppercase;
                font-size: 20px;
            }

            .stack-item {
                display: flex;
                list-style: none;
                margin-bottom: 80px;

                li {
                    margin-right: 30px;

                    img {
                        width: 35px;
                        margin-right: 8px;
                        filter: grayscale(90%);

                        .img-decrease {
                            width: 30px;
                        }
                    }
                }
            }
        }

        .current-image {
            overflow: hidden;
            max-height: 650px;

            img {
                max-width: 150%;
            }

        }
    }
}

/* thumbnail */
.thumbnail-section {
    background-color: var(--pages-bgc);
    border-top: 2px solid var(--primary-color);

    .portfolio-thumbnails-container {
        display: flex;

        .portfolio-thumbnail {
            width: 14%;
            text-align: center;
            padding: 8px 0;

            .image-container {
                display: inline-block;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: auto;
                border: 5px solid #fff;

                img {
                    max-width: 100%;
                }

                &:hover {
                    cursor: pointer;
                    border: 5px solid var(--primary-color);
                    box-sizing: border-box;
                }
            }
        }
    }
}

/* --------------------------------- */
/*           3. ABOUT PAGE */
/* --------------------------------- */
.about-section {
    margin-bottom: 100px;

    .about {
        margin-bottom: 190px;

        .details {
            margin-right: 100px;

            h1 {
                font-size: 45px;
                margin-bottom: 5px;
                color: var(--secondary-color);
            }

            h5 {
                font-size: 26px;
                text-transform: uppercase;
                color: var(--primary-color);
                margin-bottom: 40px;
            }

            p {
                line-height: 1.78;
                font-size: 20px;
            }
        }

        .image-section {
            border-radius: 10px;
            width: 400px;
            overflow: hidden;
            max-height: 590px;

            .image-container {
                img {
                    max-width: 100%;
                    width: 620px;
                    margin-top: -90px;
                }
            }
        }
    }

    h3 {
        font-size: 40px;
        color: var(--secondary-color);
        margin-bottom: 36px;
    }

    .journey {

        .timeline-legend {
            max-width: 70px;

            .icon-container {
                height: 54px;
                width: 54px;
                border-radius: 50%;
                background-color: var(--timeline-color);
                text-align: center;

                i {
                    font-size: 35px;
                    line-height: 54px;
                }

                .vertical-bar {
                    background-color: var(--timeline-color);
                    margin: auto;

                    &.vertical-bar-first {
                        margin-top: 12px;
                        height: 180px;
                        width: 4px;
                    }

                    &.vertical-bar-second,
                    &.vertical-bar-third {
                        margin-top: 12px;
                        height: 50px;
                        width: 4px;
                    }
                }
            }
        }

        .date {
            font-size: 20px !important;
            color: var(--secondary-color);
            font-weight: 800;
            margin-bottom: 20px;
        }

        .description {

            .bold-upper {
                text-transform: uppercase;
                font-weight: 800;
                color: #1F2937;
            }

            .text {
                line-height: 1.78;
                font-size: 19px;
            }
        }
    }

    .contact-container {
        padding: 35px;
        background-color: var(--contact-bgc);
        border-radius: 4px;
        border: 1px solid var(--volume);

        h2 {
            color: var(--secondary-color);
            font-size: 40px;
            margin-bottom: 10px;
        }

        .text {
            margin-top: 0;

            p {
                line-height: 1.78;
                color: #737373;
                font-size: 19px;
                margin-bottom: 36px;
            }
        }

        .contact {

            .form-field {
                >input {
                    height: 45px;
                    border-radius: 44px;
                    border: 1px solid var(--secondary-color);
                }
            }

            .form-message {
                height: 170px;
                border-radius: 12px;
                border: 1px solid var(--secondary-color);
                margin-bottom: 37px;
            }

            .send {
                border-radius: 12px;
                padding: 15px 25px;
                background-color: var(--secondary-color);
                font-size: 23px;
                color: #fff;
            }
        }
    }

    .skills-container {

        .title {
            display: flex;
            margin-bottom: 30px;

            .section-img {
                width: 35px;
                margin-right: 8px;
                filter: grayscale(90%);
            }

            h4 {
                line-height: 35px;
                font-size: 20px;
                /* color: #545454; */
                text-transform: uppercase;
                color: var(--primary-color);
            }
        }

        .lists {
            list-style: none;
            padding: 0;
            line-height: 1.2;

            li {
                margin-bottom: 20px;
                text-align: center;

                &:hover {
                    transform: translate(-0.8rem);
                }

                img {
                    width: 35px;
                    display: block;
                    margin: 0 auto 5px;
                    filter: grayscale(90%);

                    .img-increase {
                        width: 40px;
                    }

                    .img-increase-xl {
                        width: 60px;
                    }

                    .img-decrease {
                        width: 30px;
                    }
                }
            }
        }
    }
}

/* --------------------------------- */
/*           4. BLOG PAGE */
/* --------------------------------- */
.blog-page {

    .blog-section {
        margin-top: 60px;

        .orange {
            background-color: var(--blog-orange-bgc);
        }

        .grey {
            background-color: var(--blog-grey-bgc);
        }

        .blog-menu-container {
            padding-right: 100px;

            div {
                margin-bottom: 20px;
            }

            h5 {
                margin-bottom: 10px;

                .title {
                    color: #3A6665;
                    font-size: 25px;
                }
            }

            a {
                display: block;
                line-height: 1.78;
                color: #737373;
            }
        }

        .blog-container-section {
            >.row {
                gap: 20px;
            }

            .blog-container {
                height: 635px;
                padding: 30px;

                &:hover {
                    transform: translateY(-0.8rem);
                }

                .img-container {
                    height: 230px;
                    background-color: #DBDBDB;
                    margin-bottom: 26px;
                }

                .content {
                    margin-bottom: 27px;

                    h3 {
                        margin-bottom: 13px;

                        >a {
                            font-size: 26px;
                            color: var(--secondary-color);
                        }
                    }

                    div {
                        >p {
                            font-size: 13px;
                            margin-bottom: 30px;
                        }
                    }

                    p {
                        margin-bottom: 48px;
                        line-height: 1.78;
                        max-height: 90px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

/****** description ********/
.blog-image-container {
    margin-bottom: 80px;
    height: 600px;
    background-color: #eee;

    .blog-pic {}
}

.top {
    margin-bottom: 115px;

    h1 {
        font-size: 45px;
        color: var(--secondary-color);
        margin-bottom: 36px;
    }

    .tag-container {
        display: flex;
        margin-bottom: 20px;

        .tag {
            background-color: var(--links-bgc);
            border-radius: 8px;
            padding: 8px 16px;
            margin-right: 15px;

            a {
                color: var(--secondary-color);
            }
        }
    }

    .author {
        display: flex;
        padding-left: 455px;
        margin-bottom: 115px;

        .author-image {
            width: 88px;
            height: 88px;
            background-color: #eee;
            border-radius: 50%;
            margin-right: 25px;
        }

        .content {
            a {
                font-size: 18px;
                color: var(--primary-color);
            }

            .date-mins {
                display: flex;

                span {
                    font-size: 13px;
                }

                >div:first-child {
                    margin-right: 20px;

                    img {
                        width: 18px;
                    }
                }
            }
        }
    }
}

.article {
    p {
        line-height: 1.78;
        padding-left: 200px;
        padding-right: 200px;
    }

    h2 {
        padding-left: 200px;
    }

    &.second {
        margin-bottom: 100px;
    }
}

.blog-pagination-container {
    display: flex;
    margin-bottom: 100px;

    i {
        color: var(--primary-color);
        font-size: 20px;
    }

    a {
        color: var(--secondary-color);
    }

    .left {
        padding-left: 200px;
    }

    .right {
        padding-right: 200px;
    }
}

/* **************************MEDIA QUERIES *********************** */
@media (max-width: 1400px) {
    .breadcrumb-container {
        max-width: 505px;
        margin-bottom: 30px;

        .breadcrumb {
            a {
                font-size: 16px;
            }

            span {
                font-size: 20px;
            }
        }
    }

    .speaker {
        font-size: 25px;

        i {
            line-height: 20px;

            &::before {
                line-height: 20px;
            }
        }

        .volume-container {

            .volume {

                &.volume-1 {
                    height: 16px;
                }

                &.volume-2 {
                    height: 22px;
                }

                &.volume-3 {
                    height: 10px;
                }

                &.volume-4 {
                    height: 12px;
                }

                &.volume-5 {
                    height: 17px;
                }

                &.volume-6 {
                    height: 10px;
                }
            }
        }
    }

    .home-page {
        .row>* {
            padding-right: calc(var(--bs-gutter-x)* 1.5);
            padding-left: calc(var(--bs-gutter-x)* 1.5);
        }

        .description {
            >* {
                max-width: 420px;
            }

            .speaker {}

            .intro {
                font-size: 42px;

                >span {
                    font-size: 26px;
                }
            }

            .title {
                font-size: 32px;
            }

            .details {
                font-size: 19px;
            }
        }

        .portfolio-section {
            .portfolio-item {

                .image-container {
                    max-height: 395px;
                    max-width: 395px;
                }

                &.focused,
                &:hover {
                    height: 395px;
                    width: 395px;

                    .image-container {
                        height: 395px !important;
                        width: 395px !important;
                    }
                }

                /* second */
                &.second {
                    left: 425px;
                    top: 425px;

                    .image-container {
                        height: 205px;
                        width: 205px;
                    }
                }

                /* third */
                &.third {
                    left: 465px;
                    top: 80px;

                    .image-container {
                        height: 145px;
                        width: 145px;
                    }
                }

                /* fourth */
                &.fourth {
                    left: 208px;
                    top: 455px;

                    .image-container {
                        height: 115px;
                        width: 115px;
                    }
                }

                /* fifth */
                &.fifth {
                    left: 445px;
                    top: 277px;

                    .image-container {
                        height: 85px;
                        width: 85px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .home-page {

        .description {
            padding-top: 50px;
            max-width: 75%;

            >* {
                max-width: 1199px;
            }

            .breadcrumb-container {
                max-width: 1199px;
                margin-bottom: 30px;

                .breadcrumb {
                    a {
                        font-size: 16px;
                    }

                    span {
                        font-size: 18px;
                    }
                }
            }

            .name-title {
                .intro {
                    font-size: 50px;

                    span {
                        font-size: 30px;
                        margin-bottom: 8px;
                    }
                }

                .title {
                    font-size: 35px;
                    margin-bottom: 30px;
                }
            }

            .details {
                margin-bottom: 70px;
            }

            .links{
                margin-bottom: 80px;
            }
        }

        .portfolio-section {
            max-width: 75%;

            .portfolio-item {

                .image-container {
                    max-height: 570px;
                    max-width: 570px;
                }

                .title {
                    left: -81px;
                    top: -452px;

                    &::after {
                        left: 87px;
                        top: 34px;
                        rotate: -245deg;
                    }
                }

                &.focused,
                &:hover {
                    height: 570px;
                    width: 570px;

                    .image-container {
                        height: 570px !important;
                        width: 570px !important;
                    }
                }

                &.second {
                    left: 596px;
                    top: 423px;

                    .image-container {
                        height: 140px;
                        width: 140px;
                    }
                }

                &.third {
                    left: 590px;
                    top: 9px;

                    .image-container {
                        height: 140px;
                        width: 140px;
                    }
                }

                &.fourth {
                    left: 434px;
                    top: 572px;

                    .image-container {
                        height: 140px;
                        width: 140px;
                    }
                }

                &.fifth {
                    left: 651px;
                    top: 215px;

                    .image-container {
                        height: 140px;
                        width: 140px;
                    }
                }
            }
        }
    }
}